name: Master

on:
 push:
  branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Tests
        run: mvn test -DskipTests=false -Dgroups=slow
    
      - run: |
          git merge release
